---
import LayoutBase from "../layouts/layoutBase.astro";
const res = await fetch("https://jsonplaceholder.typicode.com/posts");
const data = await res.json();
---

<LayoutBase tituloPagina="api">
  <ul>
    <li class="">{data.map(item => item.title)}</li>
  </ul>
</LayoutBase>
