---
import "../styles/global.css";
import { ViewTransitions } from "astro:transitions";
import Header from "../components/header.astro";
import Rodape from "../components/footer.astro"
const pageTitle = "Astro Blog";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
    <ViewTransitions/>
  </head>
  <body>
    <Header />
    <h1>{pageTitle}</h1>
    <Rodape/>
  </body>
</html>
